# App
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace_me

# Wompi - Floreria Jardines del Renacer
#falta conexion y verificacion de rutas con ednpoints para completar pagos con wompi

NEXT_PUBLIC_WOMPI_PUBLIC_KEY=pub_test_replace_me
WOMPI_PRIVATE_KEY=prv_test_replace_me
WOMPI_INTEGRITY_SECRET=test_integrity_replace_me
# Opcional: forzar endpoint API/checkout
# WOMPI_API_BASE_URL=https://sandbox.wompi.co/v1
# WOMPI_CHECKOUT_BASE_URL=https://checkout.wompi.co/p/

# Correo - Notificaciones de estados vacantes (Google SMTP recomendado)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=tu_correo_google@gmail.com
SMTP_PASS=tu_app_password_de_google
SMTP_FROM=Jardines del Renacer <tu_correo_google@gmail.com>

# Alias opcionales para Gmail
# GMAIL_USER=tu_correo_google@gmail.com
# GMAIL_APP_PASSWORD=tu_app_password_de_google
